@mixin basic-btn {
  display: inline-block;
  padding: 7px 20px;
  outline: none;
  border-radius: 30px;
  margin: 5px;
  cursor: pointer;
}

@mixin bg-and-color-btn($bg-btn-color, $text-btn-color) {
  background-color: $bg-btn-color;
  color: $text-btn-color;
}

@mixin todo{
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: rgb(159, 149, 149);
}

@mixin transform-rotate($degree){
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -ms-transform: rotate($degree);
  -o-transform: rotate($degree);
  transform: rotate($degree);
}